body{
    background-color:#efefff;
    margin:0px; 
}
a{
    color: inherit;/*继承父元素(body)以及以上元素*/
    text-decoration: none; /*无下划线、文字装饰为无*/
}
*{
    margin:0px;
    padding:0px;/*所有元素都不要边距*/
}
hr{
    height: 0;
    border:none;
    border-top:1px solid  #bbb;
}
ul,ol{
    list-style: none;/*列表样式无*/
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}
.clearfix:after{
    content:'';
    display: block;
    clear: both;
}/*.clearfix:after指的是清除浮动，其中三句背诵。内容‘’，显示：块，
清除，都清除*/

.topNavBar {
    padding-top: 20px;/*上内边距*/
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
    /*padding可写为一句话：padding:20px 16px 20px 16px (顺序上右下左)*/
    /*overflow: hidden;清除浮动*/
    position: fixed;
    /*脱离文档流，即让背景图和topnavbar沦为一体,脱离和不脱离只影响一个问题就是那个div的高度*/
    top:0;
    left:0;
    width:100%;/*会导致bug，宽度百分之100*/
}
.topNavBar-inner{
    padding:0 16px;
}
#a {
    padding: 0 30px;
}
.topNavBar nav {
    padding: 9px;
}
.topNavBar nav>ul{
    list-style: none; 
    margin: 0; /*无边缘*/
    padding: 0;  
}
.topNavBar nav>ul>li{
    float: left; 
    margin-left: 17px;
    margin-right: 17px;
}
.topNavBar nav>ul>li>a{
    padding-bottom: 3px;
    font-size: 12px;
    color: #bbb;
    font-weight: bold;  /*字体加粗，bold粗*/
    border-top: 3px solid transparent;  /*border：边框，
    soild：实线、transparent透明*/
    border-bottom: 3px solid transparent;
    display: block;  /*给这个li就会包裹住a*/
}
.topNavBar nav>ul>li>a:hover{
    border-bottom: 3px solid #E06567;
}

.topNavBar .logo{
    font-size: 24px; /*继承*/
    font-family: "Arial Black" /*继承*/
}
.topNavBar .logo .rs{
   margin-right: 4px;
   color:red;
}
.topNavBar .logo .card{
    color:gray; 
}
.banner{
    height: 515px;/*不到情非得已不要用height，会有bug*/
   background-image: url(./img/rs-cover.jpg);
   background-position: center center;/*背景位置（position）：图片水平居中上下居中*/
   background-size: cover;/*背景图片尺寸：盖住所有面积，自适应屏幕大小，按比例缩放*/
}
.banner .mask{
    height: 515px;
    background-color: rgba(0,0,0,0.8)

}
.userCard{
    max-width: 940px;/*最大宽度*/
    margin-left: auto;/*浏览器设置的左外边距,即根据浏览器变化*/
    margin-right: auto;/*如果是一个div且有一个宽度，居中可以写margin*/
    background-color: #ffff; 
    box-shadow:0px 1px 5px 0px rgba(0,0,0,0.5);/*阴影*/
}
.userCard .welcome{
    display: inline-block;/*span不接受设置宽高，需要display:inline-block*/
    background-color: #E06567;
    color:white;
    padding:4px 16px;/*上下4像素，左右16像素*/
    line-height: 22px;
    position: relative;/*父元素*/
    margin-bottom:10px;
    /*width:70px;
    height:29px;
    line-height: 29px;垂直居中
    text-align: center;水平居中，第一种方式不推荐使用，推荐使用padding*/
}
.userCard .welcome .triangle{
    display: block;/*html中样式为span，需要打破原有样式*/
    border: 15px solid transparent; /*transparent透明*/
    width: 0px;
    border-left-color: #E06567;
    border-top-width: 0px;
    position: absolute;/*子元素相对于父元素定位*/
    left: 5px;/*使三角形在左下角*/
    top: 100%;
}
.userCard .picture{
    float:left;
}
.userCard .text{
    float:left;
    margin-left: 65px;
    width:400px;
}
.userCard .text h1{
    margin-top: 18px;

}
.userCard .text hr{
    margin: 20px 0;
}
.userCard .pictureAndtxet{
   padding:50px;
}
.userCard dl dt,
.userCard dl dd{
    float:left;
    width:50%;
    padding:5px 0;/*上下各5像素，左右0像素*/
}
.userCard dl dt{
    font-weight: bold;/*字体加粗*/
}
.userCard dl dd{
    color: #bbb}

.userCard >footer.media{
  background: #E06567;
  text-align:center;

}
.userCard >footer.media >a{
    /*border: 1px solid black;边框*/
    display: inline-block;
    width: 40px;
    line-height: 30px;
    padding: 5px 0;
    border-radius: 50%;/*圆*/
    margin: 13px;
}
.userCard >footer.media >a:hover{
    background: #cf5d5f
}
.userCard svg{
    width: 30px;
    height: 30px;
    fill:white;/*js中的颜色*/
    vertical-align: top; /*上下距离一致*/
}
body main{
    margin-top:-420px; /*距离上边距距离，整个内元素向上推*/
}
body > main .downloadresume-wrapper{
    text-align: center;
}
body > main .downloadresume{
    font-size:14px;
    line-height: 16px;
    padding: 21px 55px;
    display: inline-block;/*内联元素需要打破一下*/
    border: 1px solid #cdcdec;
    background:#efefff;
    border-radius: 2px;/*圆角*/
    color:#3d4451;
    font-weight: bold;/*字体加粗*/
    margin:32px 0;
   

}
body > main .downloadresume:hover{
    transition:box-shadow 0.3s;/*鼠标悬浮出现阴影时有个1s的过渡*/
    box-shadow: -1px 6px 20px -4px rgba(15,14,15,1);/*鼠标悬浮有个阴影搜索css shadow generator*/
}
.selfIntruduction{
    max-width: 940px;/*最大宽度*/
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: kai;/*字体*/
    line-height: 1.8;
    font-size: 18px;

}
section.skills,
section.portfolio {
    max-width: 940px;/*最大宽度*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px; 
}
section.skills > h2,
section.portfolio > h2{
    text-align: center;/*居中*/
    color:black;
    font-size:26px;
    line-height: 1.2;
    font-weight: 600;
}
section.skills h3/*后代元素选择器*/{
    font-size: 14px;
    line-height: 1.1;
    padding-right: 40px;
}
section.skills > ol{
    background:white;
    box-shadow:0px 1px 5px 0px rgba(0,0,0,0.5);
    padding: 42px 50px 10px;/*左右42，上下50，10*/
    margin-top: 30px;
}
section.skills > ol >li{
    float: left;
    width: 48%;
    box-sizing:border-box;/*允许以特定的方式匹配某个区域的特定元素,
    即下面的padding的长度包含在width的50%中，即整体宽度还是50%*/
    padding-right:20px;
}
section.skills > ol >li:nth-child(even)/*eth-child指的用来选中n个儿子,他是一个伪类，并不是一个
元素或者是选择器，even指的是偶数*/{
    float: right;
}

.progressBar/*类选择器，用.元素隔开*/{
    height: 5px;
    background: #fabafa;
    border-radius: 2px;
    margin: 4px 0 40px;
}
.progress{
    height: 100%;/*上面的progressbar已经设置了3px，这里div可以不用设置*/
    width: 60%;
    background:red;
    border-radius: 2px;
}
section.portfolio{
    text-align: center;
    margin-bottom: 100px;
}
section.portfolio nav ol{
    margin:0 auto;/*上下页面空白为 0px,左右页面空白自适应并且相等 可以达到横向居中的效果*/
    display: inline-block;
    vertical-align: top;
}
section.portfolio nav ol li{
    float: left;
    margin-left: 40px;/*左边距*/
    cursor: pointer;/*光标：指针*/
    
}
section.portfolio nav ol li:first-child{
    margin-left: 0px;
}
section.portfolio nav{
    display: inline-block;
    vertical-align: top;
    margin-top: 32px;

}
section.portfolio nav .bar{
    height:5px;
    background:white;
    margin-top: 10px;
    margin-bottom: 28px;
    border-radius: 5px;
}
section.portfolio nav .bar-inner{
    height:100%;
    background:red;
    width:10%;
    border-radius: 5px;
    transition: all 0.5s;/*动画，这个是过渡，所有过渡：0.3s*/
}
section.portfolio nav .bar.state-1 .bar-inner{
    margin-left: 0px;/*bar.state-1,一个元素同时符合bar和状态1的条件*/
    width:50px;
}
section.portfolio nav .bar.state-2 .bar-inner{
    margin-left: 60px;/*bar.state-1,一个元素同时符合bar和状态1的条件*/
    width:60px;
}
section.portfolio nav .bar.state-3 .bar-inner{
    margin-left: 120px;/*bar.state-1,一个元素同时符合bar和状态1的条件*/
    width:70px;
}
section.portfolio .works{
    position: relative;
}
section.portfolio .works > .big,
section.portfolio .works > .small{
    position: absolute;
}